*{
  color: #023968;
}

.container {
  text-align: center;
  font-size: 20px;
  border: solid 2px #023968;
  background-color: #F0B152;
  width: 400px;
  height: 350px;
  margin: 100px auto;
}

h1 {
  font-size: 50px;
}