*{
  color:blue
}
.container{
  text-align: center;
  font-size: 20px;
  border: solid 2px #023969;
  background-color: #F08152;
  width: 400;
  height: 350px;
  margin: 100px auto;
}

h1{
  font-size: 50px;
}
label{
  margin-right: 10px;

}
input{
  margin: 10px;
  padding: 7px;
  color:#023969;
  font-size: 16px;
}

button{
  font-size: 16px;
  margin: 20px 10px;
  padding: 10px 16px;
  color:beige;
  border-radius: 10px;
  font-weight: bolder;
  transition: 0.25s;
  border: none;

}
.generate {
  background-color: #05685e;
}
.clear {
  background-color: #F08152;
}
.generate:hover {
  color:#05685e;
  background-color: #fff;
  box-shadow: 0 0.5 0.5 -0.4em gray;
  transform: translate(-0.25em);
}

.clear:hover {
  color:#f08152;
  background-color: #fff;
  box-shadow: 0 0.5 0.5 -0.4em gray;
  transform: translate(-0.25em);
}